body {
  font-family: Arial, sans-serif;
  background: linear-gradient(90deg, #282828, #282828);
  margin: 0;
  padding: 20px;


.container {
  margin: auto;
  /*max-width: 1000px;*/
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
#form {
  flex-grow: 1; 
  padding: 10px; 
  font-size: 16px; 
   border: 5px solid #297E7E; 
  border-radius: 4px; 
  margin: 0 10px; 
}
  

.add {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap; 
}

#form select, #form textarea, #form button {
  padding: 10px;
  font-size: 16px;
  flex-grow: 1; 
  padding: 10px; 
  font-size: 16px; 
  border: none;
  border-radius: 4px; 
  margin: 0 10px; 
}

#form textarea {
  resize: vertical;
  height: 50px;
  
}

section {
  border: solid 2px #ccc;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding: 16px;
  flex: 1;
  border-radius: 8px;
}

h2 {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  width: 100%;
}

#todo {
  color: #18eba4;
}

#doing {
  color: #f06814;
}

#completed {
  color: #007bff;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

ul li {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  border: solid 2px #61cca5;
  background-color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s;
}

ul li:hover {
  background-color: #edf0f3;
}

ul li img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

ul li div {
  display: flex;
  justify-content: center;
  gap: 8px;
}

/* Botões no card e form */
button {
  background-color: #297E7E;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #61CCA5;
}

#responsibles {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#tags {
  border: solid 1px #297E7E;
  display: flex;
  flex-direction: row-reverse;
  margin-top: -50px;
  gap: 20px;
  height: 0px;
}

#tags li {
  padding: 9px 25px; /* Ajuste o padding para reduzir a altura */
  height: 35px; /* Defina uma altura específica se necessário */
}


.filters ul {
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.filters ul li {
  padding: 10px 20px;
  background-color: #297E7E;
  color: #000;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filters ul li.active {
  background-color: #fff;
}

.filters ul li:hover {
  background-color: #fff;
}

#removeFilters {
  background-color: #8d1818;
  justify-content: center;
  padding: 8px 12px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

#removeFilters:hover {
  background-color: #d43f3f;
}

.hidden {
  display: none;
}





.filters {
  display: flex;
  justify-content: space-between; 
  align-items:center;
  margin-bottom: 20px;
  gap: 5px;

}

.filters .left,
.filters .right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filters .center {
  display: flex;
  justify-content: center;
}

.filters .left {
  justify-content: flex-start;
}

.filters .right {
  justify-content: flex-end;
}

#responsibles li {
  padding: 5px 10px; 
  font-size: 16px;
  background-color: #297E7E;
  color: #f1f1f1;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#responsibles li:hover {
  background-color: #61CCA5;
}
